.card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 16px;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  border: 0.5px solid #80808047;
}

.sponsorText {
  font-size: "11px";
  text-align: "center";
  color: "#888";
  margin-bottom: "6px";
}

.info {
  padding: 10px;
}
