@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght,GRAD@0,17..18,400..700,-50..200;1,17..18,400..700,-50..200&display=swap");

@mixin googleFont {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

html,
body {
  @include googleFont();
}

body {
  margin: 0;
  background: #fafafa;
}

.masonry-grid {
  display: flex;
  gap: 16px;
  padding: 20px;
}

.masonry-column {
  background-clip: padding-box;
}
