.badge {
  display: inline-block;
  color: #fff;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 11px;
}
.limitedtimedeal {
  background: #b60021;
}
.bestseller {
  background: #ff9900;
}
.trending {
  background: #4caf50;
}
.amazonchoice {
  background: #000000;
}
