@mixin googleFont {
  font-family: "Google Sans", sans-serif;
}

@mixin flexDisplay {
  display: flex;
  align-items: center;
  gap: 6px;
}

.copyLink,
.copiedLink {
  @include googleFont();
  @include flexDisplay();
  position: absolute;
  bottom: 10px;
  right: 10px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: auto;
  border: unset;

  background: #f7f7f7;
  padding: 8px 14px;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  transition: all 0.25s linear;

  &:hover {
    background: white;
  }
}

.copiedLink {
  background: #ff4d6d;
  color: white;

  &:hover {
    background: #ff3459;
  }
}
