// $breakpoints: (
//   "sm": 576px,
//   // Small devices (landscape phones)
//   "md": 768px,
//   // Medium devices (tablets)
//   "lg": 992px,
//   // Large devices (desktops)
//   "xl": 1200px, // Extra large devices
// );

// @mixin respond-to($breakpoint) {
//   @if map-has-key($breakpoints, $breakpoint) {
//     @media (min-width: map-get($breakpoints, $breakpoint)) {
//       @content;
//     }
//   }
// }

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    rgba(20, 0, 20, 0.65),
    rgba(190, 24, 93, 0.45),
    rgba(0, 0, 0, 0.75)
  );
  backdrop-filter: blur(1px);
}
.modal {
  width: 85%;
  max-width: 420px;
  // @include respond-to("lg") {
  //   width: 750px;
  // }
  border-radius: 20px;
  padding: 18px;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 241, 245) 40%,
    #ffe4ec 100%
  );
  box-shadow:
    0 30px 80px rgba(255, 77, 109, 0.25),
    0 10px 30px rgba(0, 0, 0, 0.2);
}
.image {
  width: 100%;
  border-radius: 14px;
  // @include respond-to("lg") {
  //   max-height: 420px;
  // }
}
.badge,
.goldenBadge {
  display: inline-block;
  background: #ff4d6d;
  color: #fff;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 11px;
}
.goldenBadge {
  background-color: #ff9900;
  margin-left: 1rem;
}
.title {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0 0 0;
}
.price {
  color: #ff4d6d;
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 3rem;
  line-height: 2.25rem;
  text-align: right;
}
.desc {
  font-size: 14px;
  color: #555;
}
.buy,
.pinterest {
  width: 45%;
  margin-top: 14px;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 12px;
  transition: background 0.3s ease;
  box-shadow: 0 12px 25px rgba(255, 77, 109, 0.35);
  background: linear-gradient(135deg, #ff4d6d, #ff758f, #ff4d6d);
  &:hover {
    background: linear-gradient(135deg, #e63a5c, #ff5c7c, #e63a5c);
    cursor: pointer;
  }
  font-weight: 600;
  font-size: 1rem;
}
.close {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
}
.icon {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}
.rating,
.section,
.buttons,
.layout {
  display: flex;
  gap: 15px;
}
// .layout {
//   @include respond-to("lg") {
//     flex-direction: row;
//   }
//   flex-direction: column;
// }
.section,
.buttons {
  gap: 15px;
  justify-content: space-between;
}
.ratingValue,
.ratingCount {
  line-height: 1.1rem;
}
.pinterest {
  background: transparent;
  border: 2px solid #ff4d6d;
  color: #ff4d6d;
  &:hover {
    background: linear-gradient(135deg, #fff0f3, #ffe4ec);
  }
}
.rating {
  gap: 10px;
  margin: 5px 0 10px 0;
  align-items: center;
}
.userReviews {
  font-size: 12px;
  color: #777;
}
