.card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 16px;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  border: 0.5px solid #80808047;
}
.image {
  width: 100%;
  display: block;
}
.info {
  padding: 10px;
}
.name {
  font-size: 14px;
  font-weight: 600;
}
.price {
  color: #ff4d6d;
  font-weight: 700;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
